[submodule "_projects/spiral"]
	path = _projects/spiral
	url = /Volumes/Sensation/source/docsdummies/spiral
[submodule "_projects/pyramid"]
	path = _projects/pyramid
	url = /Volumes/Sensation/source/docsdummies/pyramid/
[submodule "_projects/pharao"]
	path = _projects/pharao
	url = /Volumes/Sensation/source/docsdummies/pharao
