[submodule "_projects/spiral"]
	path = _projects/spiral
	url = https://github.com/DummyDocs/spiral.git
[submodule "_projects/pyramid"]
	path = _projects/pyramid
	url = https://github.com/DummyDocs/pyramid.git
[submodule "_projects/pharao"]
	path = _projects/pharao
	url = https://github.com/DummyDocs/pharao.git
